<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="https://kontaktinfo-ws.difi.no/kontaktinfo-external/ws-v3"
                contract="Difi.oppslagstjeneste1405" name="oppslagstjeneste" />
        </client>
    </system.serviceModel>
</configuration>